In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("/content/churn_data.txt")

In [3]:
df.head(5)

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    PA             163        806  ...    5.673203              3   True.
1    SC              15        836  ...    2.559749              8  False.
2    MO             131        777  ...    6.254157              4  False.
3    WY              75        878  ...    1.080692              6  False.
4    WY             146        878  ...    7.134343              6   True.

[5 rows x 21 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           5000 non-null   object
 1   Account Length  5000 non-null   int64
 2   Area Code       5000 non-null   int64
 3   Phone           5000 non-null   object
 4   Int'l Plan      5000 non-null   object
 5   VMail Plan      5000 non-null   object
 6   VMail Message   5000 non-null   int64
 7   Day Mins        5000 non-null   float64
 8   Day Calls       5000 non-null   int64
 9   Day Charge      5000 non-null   float64
 10  Eve Mins        5000 non-null   float64
 11  Eve Calls       5000 non-null   int64
 12  Eve Charge      5000 non-null   float64
 13  Night Mins      5000 non-null   float64
 14  Night Calls     5000 non-null   int64
 15  Night Charge    5000 non-null   float64
 16  Intl Mins       5000 non-null   float64
 17  Intl Calls      5000 non-null   int64
 18  Intl Charge     5000 non-null   float64
 19  CustServ Calls  5000 non-null   int64
 20  Churn?          5000 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 820.4+ KB

In [5]:
df.drop(['State','Phone'], axis=1, inplace=True)

In [6]:
df.head()

   Account Length  Area Code Int'l Plan  ... Intl Charge  CustServ Calls  Churn?
0             163        806         no  ...    5.673203               3   True.
1              15        836        yes  ...    2.559749               8  False.
2             131        777         no  ...    6.254157               4  False.
3              75        878        yes  ...    1.080692               6  False.
4             146        878        yes  ...    7.134343               6   True.

[5 rows x 19 columns]

In [7]:
df.isnull().sum()

Account Length    0
Area Code         0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

In [8]:
df = pd.get_dummies(df,drop_first=True)

In [9]:
df.head(5)

   Account Length  Area Code  ...  VMail Plan_yes  Churn?_True.
0             163        806  ...               1             1
1              15        836  ...               0             0
2             131        777  ...               1             0
3              75        878  ...               1             0
4             146        878  ...               0             1

[5 rows x 19 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account Length  5000 non-null   int64
 1   Area Code       5000 non-null   int64
 2   VMail Message   5000 non-null   int64
 3   Day Mins        5000 non-null   float64
 4   Day Calls       5000 non-null   int64
 5   Day Charge      5000 non-null   float64
 6   Eve Mins        5000 non-null   float64
 7   Eve Calls       5000 non-null   int64
 8   Eve Charge      5000 non-null   float64
 9   Night Mins      5000 non-null   float64
 10  Night Calls     5000 non-null   int64
 11  Night Charge    5000 non-null   float64
 12  Intl Mins       5000 non-null   float64
 13  Intl Calls      5000 non-null   int64
 14  Intl Charge     5000 non-null   float64
 15  CustServ Calls  5000 non-null   int64
 16  Int'l Plan_yes  5000 non-null   uint8
 17  VMail Plan_yes  5000 non-null   uint8
 18  Churn?_True.    5000 non-null   uint8
dtypes: float64(8), int64(8), uint8(3)
memory usage: 639.8 KB

In [11]:
X = df.iloc[:,:-1].values

In [12]:
y = df.iloc[:,-1].values

In [13]:
X.shape

(5000, 18)

In [14]:
y.shape

(5000,)

# Normalization

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [17]:
X

array([[0.81407035, 0.67420814, 0.23076923, ..., 0.23076923, 0.        ,
        1.        ],
       [0.07035176, 0.80995475, 0.        , ..., 0.61538462, 1.        ,
        0.        ],
       [0.65326633, 0.54298643, 0.23076923, ..., 0.30769231, 0.        ,
        1.        ],
       ...,
       [0.15577889, 0.80995475, 0.53846154, ..., 0.46153846, 0.        ,
        1.        ],
       [0.70854271, 0.53846154, 0.46153846, ..., 0.53846154, 1.        ,
        1.        ],
       [0.70351759, 0.        , 0.38461538, ..., 0.53846154, 1.        ,
        1.        ]])

# Train Test Split

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [20]:
print(X_train.shape, y_train.shape,"\n", X_test.shape,y_test.shape)

(4000, 18) (4000,)
 (1000, 18) (1000,)

# Model

In [21]:
from xgboost import XGBClassifier

In [22]:
model  = XGBClassifier()

In [23]:
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [24]:
y_pred = model.predict(X_test)

In [25]:
output_check = pd.DataFrame(y_pred,columns=["Prediction"])
output_check['Real'] = y_test
output_check

     Prediction  Real
0             0     0
1             1     1
2             1     1
3             0     0
4             0     0
..          ...   ...
995           1     1
996           1     1
997           0     0
998           1     1
999           1     1

[1000 rows x 2 columns]

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[446,  51],
       [ 22, 481]])

In [28]:
print("Accuracy of the model : ", (cm[0][0]+cm[1][1])/(cm[0][0]+cm[0][1]+cm[1][0]+cm[1][1]) *100,"%")

Accuracy of the model :  92.7 %